<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/company_db</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="connection.username">root</property>
    <property name="connection.password">1234</property>

    <property name="hibernate.connection.characterEncoding">UTF-8</property>

    <property name="show_sql">true</property>
    <property name="hibernate.format_sql">true</property>

    <property name="default_schema">company_db</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping class="by.bsuir.diplom.bean.Address"/>
    <mapping class="by.bsuir.diplom.bean.Cattle"/>
    <mapping class="by.bsuir.diplom.bean.Coefficients"/>
    <mapping class="by.bsuir.diplom.bean.Company"/>
    <mapping class="by.bsuir.diplom.bean.CompanyInfo"/>
    <mapping class="by.bsuir.diplom.bean.Correlation"/>
    <mapping class="by.bsuir.diplom.bean.CropProduction"/>
    <mapping class="by.bsuir.diplom.bean.DairyProducts"/>
    <mapping class="by.bsuir.diplom.bean.EnterpriseStatistic"/>
    <mapping class="by.bsuir.diplom.bean.Expenses"/>
    <mapping class="by.bsuir.diplom.bean.FixedAssets"/>
    <mapping class="by.bsuir.diplom.bean.Grounds"/>
    <mapping class="by.bsuir.diplom.bean.Header"/>
    <mapping class="by.bsuir.diplom.bean.SalesReturn"/>
    <mapping class="by.bsuir.diplom.bean.Staff"/>
    <mapping class="by.bsuir.diplom.bean.Users"/>

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>