<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name>Enterprise efficiency</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>MyController</servlet-name>
        <servlet-class>by.bsuir.diplom.controller.Controller</servlet-class>
        <init-param>
            <description>
                Set the file path where uploaded files should be stored in. This parameter is
                required.
            </description>
            <param-name>uploadFilePath</param-name>
            <param-value>D:\8сем\диплом\enterpriseEfficiency\web\resources\excel</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>MyController</servlet-name>
        <url-pattern>/enterpriseEfficiency</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/jsp/error.jsp</location>
    </error-page>

    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>by.bsuir.diplom.controller.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>

    <filter>
        <description>
            Check for multipart HttpServletRequests and parse the multipart form data so that all
            regular form fields are available in the parameterMap of the HttpServletRequest and that
            all form file fields are available as attribute of the HttpServletRequest. The attribute
            value of a form file field can be an instance of FileItem or FileUploadException.
        </description>
        <filter-name>multipartFilter</filter-name>
        <filter-class>by.bsuir.diplom.controller.filter.MultipartFilter</filter-class>
        <!--        <init-param>-->
        <!--            <description>-->
        <!--                Sets the maximum file size of the uploaded file in bytes. Set to 0 to indicate an-->
        <!--                unlimited file size. The example value of 1048576 indicates a maximum file size of-->
        <!--                1MB. This parameter is not required and can be removed safely.-->
        <!--            </description>-->
        <!--            <param-name>maxFileSize</param-name>-->
        <!--            <param-value>1048576</param-value>-->
        <!--        </init-param>-->
    </filter>

    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>multipartFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <listener>
        <listener-class>by.bsuir.diplom.controller.listener.ContextListener</listener-class>
    </listener>
<!--    <listener>-->
<!--        <listener-class>by.bsuir.diplom.controller.listener.SessionAttributesListener</listener-class>-->
<!--    </listener>-->

</web-app>